aiodns==3.0.0
aiohttp==3.7.4.post0
aiohttp-socks==0.6.0
async-timeout==3.0.1
attrs==21.2.0
autopep8==1.5.7
backcall==0.2.0
backports.entry-points-selectable==1.1.0
beautifulsoup4==4.10.0
bs4==0.0.1
cchardet==2.1.7
certifi==2021.10.8
cffi==1.14.6
chardet==4.0.0
charset-normalizer==2.0.7
click==8.0.3
colorama==0.4.4
cssselect==1.1.0
dataclasses==0.6
decorator==5.1.0
discord==1.7.3
discord.py==1.7.3
distlib==0.3.3
elasticsearch==7.15.0
fake-useragent==0.1.11
filelock==3.3.0
Flask==2.0.2
geographiclib==1.52
geopy==2.2.0
googletransx==2.4.2
idna==3.2
importlib-metadata==4.8.1
ipython==7.28.0
itsdangerous==2.0.1
jedi==0.18.0
Jinja2==3.0.2
lxml==4.6.3
MarkupSafe==2.0.1
matplotlib-inline==0.1.3
multidict==5.2.0
nest-asyncio==1.5.1
numpy==1.21.2
pandas==1.3.3
parso==0.8.2
pickleshare==0.7.5
platformdirs==2.4.0
prompt-toolkit==3.0.20
pycares==4.0.0
pycodestyle==2.8.0
pycparser==2.20
Pygments==2.10.0
pyquery==1.4.3
PySocks==1.7.1
python-dateutil==2.8.2
python-decouple==3.5
python-socks==1.2.4
pytz==2021.3
requests==2.26.0
schedule==1.1.0
selenium==3.141.0
six==1.16.0
soupsieve==2.2.1
toml==0.10.2
traitlets==5.1.0
twint==2.1.21
typing-extensions==3.10.0.2
urllib3==1.26.7
virtualenv==20.8.1
wcwidth==0.2.5
Werkzeug==2.0.2
yarl==1.7.0
zipp==3.6.0
